/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 10px;
}

.book_table  {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto;
}

.book_table th:first-child, .book_table th:last-child {
  width: 300px;
}


.book_table td {
  word-wrap: break-word;
}

h2 {
  margin: 10px 0;
}

.error_box {
  border: solid 1px;
  border-color: red;
}

.error_title {
  padding: 5px 0 5px 10px;
  color: #ffffcc;
  background-color: red;
}

.error_body {
  padding: 10px 0 10px 50px;
  background-color: #cccccc;
}

.flash {
  color: green; 
}

.title_item {
  font-size: 19px;
  display: flex;
  justify-content: left;
}

.title_item p {
  margin: 17px 5px;
}

.body_item {
  font-size: 19px;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.body_item p {
  margin: 17px 5px;
}

.link_text {
  padding-left: 5px;
  border-right: solid 1px;
}

.link_text:last-child {
  border: none;
}